[package]
name = "creusot-dev-config"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
creusot-setup = { path = "../creusot-setup" }
anyhow = "1.0"
which = "6.0"

[package.metadata.release]
pre-release-replacements = [ ]