tests/**/*.coma linguist-generated=true
tests/**/why3session.xml linguist-generated=true
tests/**/why3shapes.gz linguist-generated=true
tests/**/proof.json linguist-generated=true
examples/**/*.coma linguist-generated=true
examples/**/why3session.xml linguist-generated=true
examples/**/why3shapes.gz linguist-generated=true
examples/**/proof.json linguist-generated=true
