/target
/verif
nll-facts/
mir_dump/

# opam
_opam

# Creusot local config for development
/.creusot-config

# Creusot files
*.creusot
*.cmeta

# Why3 Files
/*.coma
*.bak
*~

# macOS

.DS_Store

_opam/

# failed tests

why3tests/failed
