creusot/tests/**/*.coma linguist-generated=true
creusot/tests/**/why3session.xml linguist-generated=true
creusot/tests/**/why3shapes.gz linguist-generated=true
creusot/tests/**/proof.json linguist-generated=true
