[package]
name = "creusot-contracts"
version = "0.1.0"
authors = ["Xavier Denis <xldenis@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
creusot-contracts-proc = { path = "../creusot-contracts-proc", version = "*" }
log = "*"

[features]
default = []
typechecker = []
contracts = []