/*
 * Modified highlight.css for rustdoc, using CSS variables to switch colors between themes.
 *
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
  color: #575757;
}

/* Red */
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #d70025;
}

.hljs-number,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: var(--code-highlight-number-color);
}

.hljs-meta {
  color: var(--meta-color);
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #008200;
}

/* Blue */
.hljs-built_in,
.hljs-section,
.hljs-creusot-type {
  color: var(--code-highlight-prelude-color);
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: var(--code-highlight-kw-color);
}

.hljs-keyword.creusot_ {
  color: var(--contract-color);
}

.hljs {
  display: block;
  overflow-x: auto;
  background: var(--code-block-background-color);
  color: var(--main-color);
}

.hljs-title,
.hljs-creusot,
.hljs-variable {
  color: var(--main-color);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}

:root[data-theme="light"], :root:not([data-theme]) {
  --contract-color: #e06d02;
  --meta-color: #ee6868;
}

:root[data-theme="dark"], :root[data-theme="ayu"] {
  --contract-color: #d2991d;
  --meta-color: #902a2a;
}
