[package]
name = "why3"
version = "0.1.0"
authors = ["Xavier Denis <xldenis@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

itertools = "*"
pretty = "*"
indexmap = "1.2.0"
serde = { version = "1.0", optional = true, features = ["derive"] }

[features]

serialize = ["serde"]