name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Rust fmt
      run: |
        shopt -s globstar
        rustfmt **/*.rs --check
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
  why3:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install Z3
      run: sudo apt-get install -y z3=4.8.7-4build1
    - uses: actions/cache@v2
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - uses: dawidd6/action-download-artifact@v2
      with:
        workflow: why3.yml
        name: why3
        path: /home/runner/work/creusot/why3
    - run: |
        chmod -R +x ~/work/creusot/why3/bin
        chmod -R +x ~/work/creusot/why3/lib/why3server
         ~/work/creusot/why3/bin/why3 config detect
    - run: WHY3_PATH=~/work/creusot/why3/bin/why3 cargo test --test why3
